<div class="register">
  <form
    class="register__form"
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()">
    <div class="form-input">
      <span>mail</span>
      <input
        pInputText
        type="text"
        maxlength="30"
        class="input"
        formControlName="mail"
        [class.invalid]="
          registerForm.get('mail')?.invalid && registerForm.get('mail')?.touched
        " />
      <span
        *ngIf="
          registerForm.get('mail')?.errors?.['required'] &&
          registerForm.get('mail')?.touched
        "
        >this field is required</span
      >
      <span
        *ngIf="
          registerForm.get('mail')?.errors?.['email'] &&
          registerForm.get('mail')?.touched
        ">
        mail must be valid</span
      >
    </div>
    <div class="form-input">
      <span>password</span>
      <input
        pInputText
        type="password"
        maxlength="30"
        formControlName="password"
        [class.invalid]="
          (registerForm.get('confirm')?.invalid &&
            registerForm.get('password')?.touched) ||
          registerForm.errors?.['passwordMissMatch']
        " />
      <span
        *ngIf="
          registerForm.get('password')?.invalid &&
          registerForm.get('password')?.touched
        ">
        this field is required</span
      >
    </div>
    <div class="form-input">
      <span>confirm password</span>
      <input
        pInputText
        type="password"
        maxlength="30"
        formControlName="confirm"
        [class.invalid]="
          (registerForm.get('confirm')?.invalid &&
            registerForm.get('confirm')?.touched) ||
          registerForm.errors?.['passwordMissMatch']
        " />
      <span
        *ngIf="
          registerForm.get('confirm')?.invalid &&
          registerForm.get('confirm')?.touched
        ">
        this field is required</span
      >
      <span
        *ngIf="
          registerForm.errors?.['passwordMissMatch'] &&
          registerForm.get('confirm')?.touched
        ">
        password miss match
      </span>
    </div>
    <div class="form-submit">
      <p-button type="submit"
        >sign up<sf-loading-spinner></sf-loading-spinner
      ></p-button>
    </div>
  </form>
</div>
