<div>
  <form
    class="register__form"
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()">
    <span class="register__input-field">
      <label class="label">mail</label>
      <input
        pInputText
        type="text"
        maxlength="30"
        class="input"
        formControlName="mail"
        [class.invalid]="
          registerForm.get('mail')?.invalid && registerForm.get('mail')?.touched
        " />
    </span>
    <span
      *ngIf="
        registerForm.get('mail')?.errors?.['required'] &&
        registerForm.get('mail')?.touched
      "
      ><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
        >this field is required</a
      ></span
    >
    <span
      *ngIf="
        registerForm.get('mail')?.errors?.['email'] &&
        registerForm.get('mail')?.touched
      "
      ><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
        >mail must be valid</a
      ></span
    >
    <br />
    <br />
    <span class="register__input-field">
      <label>password</label>
      <input
        pInputText
        type="password"
        maxlength="30"
        formControlName="password"
        [class.invalid]="
          (registerForm.get('confirm')?.invalid &&
            registerForm.get('password')?.touched) ||
          registerForm.errors?.['passwordMissMatch']
        " />
    </span>
    <span
      *ngIf="
        registerForm.get('password')?.invalid &&
        registerForm.get('password')?.touched
      "
      ><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
        >this field is required</a
      ></span
    >
    <br />
    <br />
    <span class="register__input-field">
      <label>confirm password</label>
      <input
        pInputText
        type="password"
        maxlength="30"
        formControlName="confirm"
        [class.invalid]="
          (registerForm.get('confirm')?.invalid &&
            registerForm.get('confirm')?.touched) ||
          registerForm.errors?.['passwordMissMatch']
        " />
    </span>
    <div class="email__validators">
      <span
        *ngIf="
          registerForm.get('confirm')?.invalid &&
          registerForm.get('confirm')?.touched
        "
        ><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
          >this field is required</a
        ></span
      >
      <span
        *ngIf="
          registerForm.errors?.['passwordMissMatch'] &&
          registerForm.get('confirm')?.touched
        "
        ><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
          >password miss match</a
        ></span
      >
    </div>
    <br />
    <br />
    <div class="register__submit-button">
      <p-button type="submit">sign up<sf-loading-spinner></sf-loading-spinner></p-button>
    </div>
  </form>
</div>

