<div class="calculator">
  <div class="container">
    <div class="calculator__aligner">
      <div class="calculator__body">
        <div class="calculator__calculation">
          <table class="product">
            <thead>
              <tr>
                <td>Name</td>
                <td>quantity</td>
                <td>price</td>
                <td>add</td>
                <td>subtract</td>
                <td>
                  <button class="pi pi-plus" (click)="createProduct()">
                    Создать товар
                  </button>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products">
                <td>{{ product.name }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.price }}</td>
                <td><button class="pi pi-plus"></button></td>
                <td><button class="pi pi-minus"></button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="calculator__output">
          <table class="product">
            <thead>
              <tr>
                <td>Name</td>
                <td>quantity</td>
                <td>price</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products">
                <td>{{ product.name }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.price }}</td>
              </tr>
            </tbody>
          </table>
          Grand Total: 10000
          <div class="calculator__checkout">
            <button class="pi pi-shopping-cart">checkout</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
