<div class='login'>
  <form
    class="login__form"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()">
    <div class="form-input">
      <span>mail</span>
      <input
        pInputText
        type="text"
        maxlength="30"
        class="input"
        formControlName="mail"
        [class.invalid]="
          loginForm.get('mail')?.invalid && loginForm.get('mail')?.touched
        " />
      <span
        *ngIf="
        loginForm.get('mail')?.errors?.['required'] &&
        loginForm.get('mail')?.touched
      "
      >this field is required
    </span
    >
      <span
        *ngIf="
        loginForm.get('mail')?.errors?.['email'] &&
        loginForm.get('mail')?.touched
      "
      >mail must be valid</span
      >
    </div>
    <div class="form-input">
      <span>password</span>
      <input
        pInputText
        type="password"
        maxlength="30"
        formControlName="password"
        [class.invalid]="
          (loginForm.get('confirm')?.invalid &&
            loginForm.get('password')?.touched)
        " />
      <span
        *ngIf="
        loginForm.get('password')?.invalid &&
        loginForm.get('password')?.touched
      "
      >this field is required</span
      >
    </div>
    <div class="form-submit">
      <p-button type="submit">sign in<sf-loading-spinner></sf-loading-spinner></p-button>
    </div>
  </form>
</div>
