<div class="update-product">
  <form
    class="update-product__form"
    [formGroup]="addProductForm"
    (ngSubmit)="onSubmit()">
    <div class="form-input">
      <span>Name</span>
      <input
        pInputText
        type="text"
        maxlength="30"
        class="input"
        formControlName="name"
        [class.invalid]="
          addProductForm.get('name')?.invalid &&
          addProductForm.get('name')?.touched
        " />
      <span
        *ngIf="
        addProductForm.get('name')?.errors?.['required'] &&
        addProductForm.get('name')?.touched
      "
      >this field is required</span
      >
    </div>
    <div class="form-input">
      <span>Quantity</span>
      <input
        pInputText
        maxlength="30"
        formControlName="quantity"
        [class.invalid]="
          addProductForm.get('quantity')?.invalid &&
          addProductForm.get('quantity')?.touched
        " />
      <span
        *ngIf="
        addProductForm.get('quantity')?.errors?.['required'] &&
        addProductForm.get('quantity')?.touched
      "
      >this field is required</span
      >
      <span
        *ngIf="
        addProductForm.get('quantity')?.errors?.['pattern'] &&
        addProductForm.get('quantity')?.touched
      "
      >Numbers only</span
      >
    </div>
    <div class="form-input">
      <span>Price</span>
      <input
        pInputText
        maxlength="30"
        formControlName="price"
        [class.invalid]="
          addProductForm.get('price')?.invalid &&
          addProductForm.get('price')?.touched
        " />
      <span
        *ngIf="
        addProductForm.get('price')?.errors?.['required'] &&
        addProductForm.get('price')?.touched
      "
      >this field is required</span
      >
      <span
        *ngIf="
        addProductForm.get('price')?.errors?.['pattern'] &&
        addProductForm.get('price')?.touched
      "
      >Numbers only</span
      >
    </div>
    <div class="form-submit">
      <p-button type="submit"
      >update product<sf-loading-spinner></sf-loading-spinner
      ></p-button>
    </div>
  </form>
</div>
